.ListaDePosts {
  background-color: #07d2f1;
  border-bottom: 4px solid black;
  box-sizing: border-box;
  width: 100%;
}

.ListaDePosts_Div {
  padding: 10px;
}

.ListaDePosts_Item {
  background-color: rgb(231, 231, 231);
  border-radius: 15px;
  border: 2px solid black;
  padding: 10px;
}
